@charset "utf-8";

body{
    background-color: rgba(160, 182, 253, 0.897);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(45, 3, 183);
}

h1#principal{
    text-align: center;
    background-color: rgb(45, 3, 183);
    color: rgba(255, 255, 255, 0.931);
}

h2{
    color: rgb(75, 3, 183);
}

.basico{
    color: rgb(60, 154, 60);
}

.intermediario{
    color: rgb(174, 174, 67);
}

.avancado{
    color: rgb(154, 60, 60);
}

p{
    color: rgba(255, 255, 255, 0.894);
}